.episode-card {
  width: 260px;
  background-color: #fffef5;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 18px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
 
}

.episode-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 18px rgb(255, 0, 0);
}

.episode-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}

.episode-info {
  font-size: 0.95rem;
  color: #444;
  margin: 4px 0;
}
