*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#separador {
  height:  85vh;
  width: 100%;
  position: relative;
  display: flex;
  min-height: 400px; /* ejemplo, puedes ajustarlo */
  background-color: aqua;
  padding: 20px;
}