*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#separador {
  height:  100%;
  width: 100%;
  position: relative;
  display: flex;
  /* ejemplo, puedes ajustarlo */
  background-color: aqua;
  overflow: hidden;
}